.stats-overlay {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.85);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    font-size: 18px;
}

.stats-div {
    background-color: rgb(127,230,239);
    color: black;
    border-radius: 10px;
    box-shadow: 10px 10px 50px 0 rgb(0, 0, 0);
    height: 80vh;
    width: 80vw;
    max-height: 480px;
    max-width: 480px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-between;
    font-family: 'Quicksand', sans-serif;
}

.stats-close-div {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
}

.stats-close:hover {
    cursor: pointer;
}